torch==1.13.1
torchelastic==0.2.2
torchtext==0.14.1
torchvision==0.14.1
tornado==6.2
tqdm


nvidia-pyindex
nvidia-tensorrt

loguru
packaging
tabulate
opencv-python
psutil
yacs 
pyyaml 
Cython
onnx-graphsurgeon
albumentations
dicomsdl
nvidia-dali-cuda110
pandas
pydicom
time
